// the magic
  responsive: [{

      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        infinite: true
      }

    }, {

      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        dots: true
      }

    }],
    @media screen and ( max-width: 1199px){
    a.nav-bt1{
      flex-direction: row;
    }
    .mobile-menu span{
      display: none;
    }
    }
    @media screen and ( max-width:1024px){
      .mobile-menu span{
        display: none;
      }
    }
    @media screen and ( max-width:991px){
      a.nav-bt1{
        display: flex;
        flex-direction: row;
      }
      .nav{
        display: none;
      }
      .heading{
        font-size: 35px;
      }
      .mobile-menu span{
        display: flex;
        z-index: 3;
      }
      .header-content{
        display: flex;
        padding: 0;
        margin-left: 0;
        list-style: none;
      }
      .mobile-menu span{
        display: flex;
        padding-left:0 ;
        
      }
    }
    @media screen and ( max-width:768px){
      
    }
    @media screen and ( max-width:){
      
    }
    @media screen and ( max-width:){
      
    }
    