 .bulb{
    border: solid 1px black;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    transition: 0.3s;
    background: transparent;
 }
 .current{
    background: orange;
    box-shadow: 1px 1px 1px orange;
    border-color: rgb(235, 193, 115);
 }